#average-stat {
	background-color: red;
	width: 30%;
	height: 263px;
	position: relative;
	border-radius: 5px;
}

.average-stat-label {
	width: 60%;
	font-size: 1.1em;
	font-weight: 300;
	color: white;
	position: absolute;
	left: 1em;
}

.custom-tooltip-average {
	background-color: white;
}

.custom-tooltip-average-text {
	font-size: 12px;
	padding: .5em;
}
