#main {
	margin-left: 150px;
	margin-top: 130px;
}

#statistics-parent {
	display: flex;
	width: 100%;
	margin: 3em 0;
}

#graphics {
	width: 75%;
}

#three-graphs-container {
	width: 95%;
	display: flex;
	margin-top: 2em;
	justify-content: space-between;
}