#today-percentage {
	width: 30%;
	background-color: #FBFBFB;
	position: relative;
}

.percentage-text {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}